*{
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-rows: 60px min-content 600px;
}  

.escudos_medio_home_tomba img{
    width: 800px;
    height: 400px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}

.home_section_presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(51, 50, 50);
    align-items: center;
    gap: 20px;
}

.card_1{
    background-color: rgb(0, 116, 225);
    justify-content: center;
    display: flex;
    font-weight: bold;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}  

.card_1_body{
    line-height: 1.5;
    margin-top: 0;
    margin-left: 40%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.card_1_body img{
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;}

.card_1_body p{
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 0;
}

.card_2{
    background-color: rgb(135, 206, 235);
    color: white;
    justify-content: center;
    display: flex;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.card_2_body{
    line-height: 1.5;
    margin-top: 0;
    margin-right: 40%;
    font-style: italic;
}

.card_2_body p{
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%;
}

.card_2_body h1{
    font-size: 40px;
    color: white;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%;
}

.card_2_body img{
    margin-left: 90%;
}

